.card_general {
	width: 70%;
	margin: 5px auto;
	background-color: #E8F8F5;
	box-shadow: 0px 5px 20px #555;
	margin-top: 2em;
	margin-bottom: 2em;
	padding-top: 2em;
	padding-bottom: 2em;
	padding-right: 2em;
}